html {
  --color-background: #F3F3F3;
  --color-background-light: #FFFFFF;
  --color-grey: #CCD1D5;
  --color-background-dark: #000000;

  --color-text: #000000;
  --color-text-light: #FFFFFF;

  --color-kyu-8: #FFCE3B;
  --color-kyu-7: #FF7A3B;
  --color-kyu-6: #208934;
  --color-kyu-5: #024EA6;
  --color-kyu-3: #472010;
}
