<div class="container">
  <div class="top-area">
    <img src="assets/img/alle.jpg">
    <div class="slogan">
      <h1><span>Shōtōkan</span> Karate</h1>
      <h3>Unser Stil. Unsere Philosophie. Unsere Leidenschaft</h3>
    </div>
  </div>
  <div class="description">Der Shōtōkan-Stil ist die am weitesten verbreitete Stilrichtung im Karate-dō.
    Charakteristisch für diese Stilrichtung ist ein tiefer Stand, der dynamische und kraftvolle Bewegungen ermöglicht.
    Der tiefe Stand wird in erster Linie im Training der Grundschule Kihon und der Kata sowie in den Basisformen des
    Kumite (Kihon-Kumite) praktiziert.
  </div>
</div>
<div class="container ueber-uns">
  <div class="headline">
    <h1>Über Uns</h1>
  </div>
  <div class="container-content">
    <div class="left-area">
      Seit 2002 sind wir ein eigenständiger Verein im Herzen Käfertals. Traditionelles Shōtōkan Karate steht bei uns im
      Vordergrund. <br><br>Egal ob Anfänger oder Karate-Ka mit Erfahrung. Egal ob Jung oder Alt. <br>Wir sind ein Team,
      stehen für
      uns ein und haben zusammen Spaß am Training.
    </div>

  </div>

  <div class="right-area">
    <div class="image-container">
      <div class="skew-image">
        <img class="deskew-image" src="assets/img/kata.jpg">
      </div>
    </div>
  </div>
</div>
<div class="container training-schedule">
  <div class="headline">
    <h1>Trainingseinheiten</h1>
  </div>
  <div class="container-content">
    <div class="training-schedule-tile">
      <div class="tile-content">
        <h2 class="weekday">Mittwoch</h2>
        <div class="time">19:30 Uhr - 21:00 Uhr</div>
        <h3 class="place">Käfertalschule</h3>
        <div class="address">Wormser Str. 26, 68309 Mannheim</div>
      </div>
      <div class="gmap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2590.4282651049343!2d8.51375131594839!3d49.51418997935716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797ce4395e86aed%3A0x3ea789b48c334afb!2sWormser%20Str.%2026%2C%2068309%20Mannheim!5e0!3m2!1sde!2sde!4v1581801053682!5m2!1sde!2sde"
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>

    <div class="training-schedule-tile">
      <div class="tile-content">
        <h2 class="weekday">Freitag</h2>
        <div class="time">19:00 Uhr - 20:15 Uhr</div>
        <h3 class="place">Albrecht-Dürer-Grundschule</h3>
        <div class="address">Wormser Str. 26, 68309 Mannheim</div>
      </div>
      <div class="gmap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1684.5603773213145!2d8.507548962051779!3d49.50868593889889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797ce6781872ae5%3A0xe996d3ee2401b95e!2sBaumstra%C3%9Fe%2024%2C%2068309%20Mannheim!5e0!3m2!1sde!2sde!4v1581802912990!5m2!1sde!2sde"
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>
